.App {
  text-align: center;
}

.container {
  border: 1px solid black;
  cursor: pointer;
}

svg {
  border: 1px solid black;
  transition: all 123ms;
  cursor: pointer;
}

.svg--test {
  background-color: rgba(2, 39, 189, 0.39);
  width: 250px;
  transform: translateY(50%);

}
.svg {
  background-color: rgba(47, 71, 167, 0.39);
}



